/*
    Theme Name: Laura
    Theme URL: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
*/
@import url(
  https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,
  200,
  200italic,
  300,
  300italic,
  400italic,
  600,
  600italic,
  700,
  700italic,
  900,
  900italic
);

body {
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 400;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  outline: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

/***********************************
************************************
Responsive media queries
************************************
***********************************/

.header {
  background: url("../img/homebg1.jpg") no-repeat fixed;
  background-size: cover;
  min-height: 630px;
  position: relative;
}

.navbar-default {
  background-color: transparent;
  border: 0px;
  padding: 20px 0;
  transition: all 0.3s;
}

.navbar-brand {
  font-size: 36px;
  font-family: "Satisfy", cursive;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  outline: none;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fffde0;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #fffde0;
  background-color: transparent;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background: rgba(50, 60, 70, 0.9);
  }
}

.top-nav-collapse {
  padding: 0;
  background: rgba(50, 60, 70, 0.9);
}

.bg-color {
  background-color: RGBA(0, 0, 0, 0.52);
  min-height: 650px;
}

.banner-text {
  border-left: 5px solid #be2525;
  padding: 15px 40px;
  color: #fff;
  margin-top: 170px;
}

.banner-text h2,
.banner-text p {
  font-size: 40px;
  font-weight: 400;
  font-family: "Questrial", sans-serif;
}

.banner-text h2 span {
  font-family: "Satisfy", cursive;
}

.overlay-detail {
  margin: 0 auto;
}

.overlay-detail a i {
  text-align: center;
  position: absolute;
  bottom: -140px;
  font-size: 24px;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  line-height: 40px;
  border-radius: 50%;
}

.deco {
  font-family: "Satisfy", cursive;
}

#about {
  background: url("../img/about-banner.jpg") no-repeat;
  background-size: cover;
  margin-bottom: -3px;
}

.section-padding {
  padding: 60px 0px;
}

.title {
  font-size: 24px;
  margin-bottom: 50px;
}

.title-text {
  padding: 0px 25px 0px 0px;
  border-right: 5px solid #be2525;
  font-size: 24px;
}

.about-text p {
  color: #444;
}

.abt-list li {
  padding: 5px 0px;
  font-size: 18px;
  font-weight: 400;
}

#training {
  background-color: #f0f1e9;
}

.grid-padding {
  padding: 0 8px;
}

.grid-padding img {
  margin-bottom: 15px;
}

.padding-right-zero {
  padding-right: 0px !important;
}

#myGrid {
  margin-top: 50px;
}

.test-sec blockquote {
  background: #eee;
  display: block;
  font-size: 14px;
  line-height: 20px;
  padding: 15px;
  position: relative;
}

.test-sec blockquote::after {
  content: "";
  position: absolute;
  bottom: -14px;
  margin-left: 10px;
  border-top: 14px solid #eee;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid RGBA(0, 0, 0, 0.18);
}

.test-sec .carousel-info span {
  display: block;
}

.test-sec span.testimonials-name {
  color: #62646f;
  font-weight: 600;
  margin: 16px 0 5px;
}

#feed {
  width: 100%;
  background-color: RGBA(0, 0, 0, 0.82);
  color: white;
}

.btn-primary {
  background: #be2525;
  border: 1px solid #be2525;
  color: white;
}

.validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#sendmessage {
  color: green;
  border: 1px solid green;
  background: #fff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  background: #fff;
}

#sendmessage.show,
#errormessage.show,
.show {
  display: block;
}

footer {
  padding: 40px 0;
  background: #c3c4bfde;
}

.footer a {
  color: #be2525;
}

.footer__navigation li,
.social-list li {
  display: inline-block;
}

.contact-sec h2 {
  font-size: 28px;
  color: rgb(0, 0, 0);
  font-weight: 00;
  padding: 15px 0px;
}

.footer__navigation li a {
  display: inline-block;
  color: #767676;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  font-size: 1.2em;
  line-height: 1.625em;
  margin-top: 0;
  margin-bottom: 1.625em;
  padding-right: 10px;
}

.contact-sec p {
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding: 16px 0px 24px;
}
.enroll {
  background: url("../img/about-banner.jpg") no-repeat;
  background-size: cover;
  min-height: 630px;
  position: relative;
}

#report {
  background: url("../img/port03.jpg") no-repeat fixed;
  background-size: cover;
  max-height: 300px;
}

.contact-sec i {
  padding-right: 15px;
}

.contact-sec a {
  color: rgb(3, 3, 3);
  background-color: RGBA(174, 142, 142, 0.7);
  display: inline-block;
  padding: 16px 34px;
  font-size: 18px;
  transition: all 0.5s ease-in 0s;
}

.carousel-info,
blockquote {
  float: left;
}

.social-list li {
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  opacity: 0.5;
  display: inline-block;
  margin: 0;
}

.social-list li a {
  font-size: 28px;
  margin-right: 15px;
}

.type-underline,
.type-underline:hover {
  color: #767676;
}

.footer__lower {
  margin-top: 3.25em;
}

.type--fine-print {
  color: #767676;
}

.navbar-toggle {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
}

.navbar-nav > li > a {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navbar-brand {
  margin-top: 9px;
}

.grid-item {
  width: 200px;
}

.grid-item--width2 {
  width: 400px;
}

.button {
  background-color: RGBA(174, 142, 142, 0.7);
}

/***********************************
************************************
Responsive media queries
************************************
***********************************/

@media (min-width: 551px) and (max-width: 980px) {
  .title-text {
    margin-bottom: 15px;
  }
}

@media (min-width: 100px) and (max-width: 550px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-brand {
    margin-top: 0px;
  }
  .carousel-info {
    margin-bottom: 30px;
  }
  .type--fine-print {
    text-align: center;
  }
  .text-center-xs {
    text-align: center !important;
  }
  .social-list {
    margin-bottom: 15px;
  }
  .banner-text h2,
  .banner-text p {
    font-size: 30px;
  }
  .title-text {
    margin-bottom: 15px;
  }
}
#upload {
  opacity: 0;
}

#upload-label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.image-area {
  border: 2px dashed rgba(255, 255, 255, 0.7);
  padding: 1rem;
  position: relative;
}

.image-area::before {
  content: "Uploaded image result";
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 1;
}

.image-area img {
  z-index: 2;
  position: relative;
  max-width: 50%;
  max-height: 50%;
}

.heading-title {
  margin-bottom: 100px;
}
.text-center {
  text-align: center;
}
.heading-title h3 {
  margin-bottom: 0;
  letter-spacing: 2px;
  font-weight: normal;
}
.p-top-30 {
  padding-top: 30px;
}
.half-txt {
  width: 60%;
  margin: 0 auto;
  display: inline-block;
  line-height: 25px;
  color: #7e7e7e;
}
.text-uppercase {
  text-transform: uppercase;
}

.team-member,
.team-member .team-img {
  position: relative;
}
.team-member {
  overflow: hidden;
}
.team-member,
.team-member .team-img {
  position: relative;
}
.team-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  border: 20px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
  top: 35%;
}
.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
  opacity: 1;
}
.team-hover .desk {
  position: absolute;
  top: 0%;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  padding: 0 20px;
}
.desk,
.desk h4,
.team-hover .s-link a {
  text-align: center;
  color: #222;
}
.team-member:hover .team-hover .s-link {
  bottom: 10%;
}
.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
  opacity: 1;
}
.team-hover .s-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-transform: translateY(45%);
  -ms-transform: translateY(45%);
  transform: translateY(45%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  font-size: 35px;
}
.desk,
.desk h4,
.team-hover .s-link a {
  text-align: center;
  color: #222;
}
.team-member .s-link a {
  margin: 0 10px;
  color: #333;
  font-size: 16px;
}
.team-title {
  position: static;
  padding: 20px 0;
  display: inline-block;
  letter-spacing: 2px;
  width: 100%;
}
.team-title h5 {
  margin-bottom: 0px;
  display: block;
  text-transform: uppercase;
}
.team-title span {
  font-size: 12px;
  text-transform: uppercase;
  color: #a5a5a5;
  letter-spacing: 1px;
}
